---
import { cn } from "@utils/utils";

interface Props {}

const {} = Astro.props;

// Styles
const contactGroup =
  "w-full max-w-[39.375rem] mb-8 flex justify-start items-center flex-wrap gap-6";
---

<div id="button-box-837" class={cn(contactGroup)}>
  <slot />
</div>
