---
import AboutUs from "@components/SBS-598/sbs-598-story.astro";
import WhyChooseAbout from "@components/WhyChoose-1821/why-choose-1821-story.astro";
import Layout from "../layouts/BaseLayout.astro";
import Banner849 from "@components/Banner-849/banner-849.astro";
import { Backsplash } from "@assets/index";
---

<Layout
  title="About"
  description="Learn about our web dev team — crafting fast, affordable sites for small businesses. $199/mo with real support to grow your revenue. Meet us!"
>
  <Banner849
    title="About Klick Foundry"
    src={Backsplash}
    alt="Blue backsplash"
    align="center"
  />
  <AboutUs />
  <div class="w-full h-[4rem]"></div>
  <WhyChooseAbout />
</Layout>
